apiVersion: v1
kind: Secret
metadata:
  name: clic-kiusys-api-secret
  namespace: clic-kiusys
type: Opaque
stringData:
  DATABASE_URL: "postgresql://USER:PASS@HOST:5432/pss_produccion"
  API_B_BASE_URL: "https://api-b-gcp.example.com"
  API_C_BASE_URL: "https://api-c-azure.example.com"
